[core]
	excludesfile = /Users/pratama/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = pratamawijaya
	email = set.mnemonix@gmail.com
	signingkey = 029CBEF2
[merge]
	tool = opendiff
[push]
	default = simple
[alias]
  ci = commit
  st = status
  co = checkout 
  a  = add .
  b  = branch 
[commit]
	template = ~/.gitcommitmsg.txt
